<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="main-image container">
                <div class="row custom-card-gp center">
                  <div class="col-4 pd-0 " >
                    <div class="bg-yellow">
                      <div class="custom-card-hover">
                        <div class="card-title">本日精選</div>
                      </div>              
                    </div>
                  </div>  
                  <div class="col-4  pd-0 " >
                    <div class="bg-green">
                      <div class="custom-card">
                        <div class="card-title">人氣推薦</div>
                      </div>
                    </div>
                  </div>  
                  <div class="col-4  pd-0" >
                    <div class="bg-dark-green">
                      <div class="custom-card">
                        <div class="card-title">新品上市</div>
                      </div>
                    </div>
                  </div>  
                </div>
              </div>
          </div>
      </div>
      
  </div>


  








  <section class="section my-md-247 container">
    <div class="row justify-content-center g-0 d-md-none">
      <div class="col-6">
        <img src="/images/sm-為什麼選擇了做甜點.svg" class=" my-5 img-fluid " alt="">
      </div>
    </div>
    <div class="bg-primary-lighter">
      <div class="container">
        <div class="row">
          <div class="col-md-6 break-vertical-block">
            <div class="bg-cover  h-100  section-intro-image"></div>
          </div>
          <div class="col-md-6 vertical-content d-flex justify-content-end">
            <div class="writing-vertical py-70 text-primary-light mr-auto">
              <p class="mb-0">青山依舊在，幾度夕陽紅。慣看秋月春一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
              <p class="mb-0">是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
            </div>
            <div class="whydessert break-vertical-block d-none d-md-block">
              <img src="/images/lg-為什麼選擇了做甜點.svg" width="88"  alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section my-md-10 container">
    <div class="row justify-content-center g-0 d-md-none">
      <div class="col-6">
        <img src="/images/sm-為什麼一定要吃甜點.svg" class=" my-5 img-fluid " alt="">
      </div>
    </div>
    <div class="bg-primary-lighter">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-md-6 break-vertical-block">
            <div class="bg-cover-1  h-100  section-intro-image"></div>
          </div>
          <div class="col-md-6 vertical-content d-flex justify-content-end">
            <div class="writing-vertical py-70 text-primary-light mr-auto">
              <p class="mb-0">青山依舊在，幾度夕陽紅。慣看秋月春一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
              <p class="mb-0">是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
            </div>
            <div class="whydessert break-vertical-block d-none d-md-block">
              <img src="/images/lg-為什麼一定要吃甜點.svg" width="88"  alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="text-center my-5 my-md-9">
    <img src="/images/lg-想吃甜點是不需要理由的.svg" class="img-fluid d-none d-md-inline-block" width="89" alt="">
    <img src="/images/sm-想吃甜點是不需要理由的.svg" class="img-fluid d-md-none" width="256" alt="">
  </section>
  

  <section class="container my-5 ">
    <div class="row">
      <div class="col-md-4 px-1">
        <div class="item-card">
          <div class="item-image1" >
            <div class="item-tag">本日精選</div>
                <span class=" item-fav-icon material-symbols-outlined">favorite</span>
            </div>
            <div class="item-body d-flex text-center">
              <div class="item-name col">焦糖馬卡龍</div>
              <strong class="item-price col">NT$ 450</strong>
            </div>
            <a href="#" class="d-grid  add-cta text-center py-9 ">加入購物車</a>
          </div>  
      </div>
      <div class="col-md-4 px-1 d-none d-md-block">
        <div class="item-card">
          <div class="item-image2" >
            <div class="item-tag">本日精選</div>
              <div class="item-fav-icon">
                <span class="material-symbols-outlined">favorite</span>
              </div>  
            </div>
          </div>
          <div class="item-body d-flex text-center">
            <div class="item-name col">焦糖馬卡龍</div>
            <strong class="item-price col">NT$ 450</strong>
          </div>
          <div class="add-cta">
            <a href="#" class="d-grid  add-cta text-center py-9 ">加入購物車</a>
          </div>
      </div>
      <div class="col-md-4 px-1 d-none d-md-block">
        <div class="item-card">
          <div class="item-image3" >
            <div class="item-tag">本日精選</div>
              <div class="item-fav-icon">
                <span class="material-symbols-outlined">favorite</span>
              </div>  
            </div>
          </div>
          <div class="item-body d-flex text-center">
            <div class="item-name col">焦糖馬卡龍</div>
            <strong class="item-price col">NT$ 450</strong>
          </div>
          <div class="add-cta">
            <a href="#" class="d-grid  add-cta text-center py-9" >加入購物車</a>
          </div>
        </div>
      </div>
      </div>
      
      
    
    </div>
      
    </div>

  </section>





    <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->






<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>


