
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />


<div class="navbar navbar-expand-md ">
<div class="container">
    <button class="navbar-toggler  d-md-none d-flex align-items-center" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-symbols-outlined">
          menu
        </span>
      </button>
    <a class="navbar-brand" href="index.html">
    <img class="d-md-none2 d-md-inline " src="/assets/images/logo.svg" alt="" height="40">
    <img src="/assets/images/logotype.svg" alt="" height="26.6">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav d-flex align-items-center mright-79">
        <a class="nav-item nav-link"  href="index.html"><li>首頁</li></a>
        <a class="nav-item nav-link"  href="product.html"><li>甜點</li></a>
        <a class="nav-item nav-link margin-67"  href="login.html"><li>登入</li></a>
    </div>   
  </div> 
        <a class="cart nav-item nav-link material-symbols-outlined"  href="cart.html" >shopping_cart</a>
    
    
</div>
    

    
   
        
    

</div>
