
.step-circle .completed-s {
    font-size: 16px;
    background-color: #EAF0ED;
    color: #3F5D45;
}


.step-circle.completed-s {
    font-size: 16px;
    color: #EAF0ED;
    border: 1px solid #3F5D45;
  }

.next {
    font-size: 24px;
    font-weight: 600;
}


.w-190 {
    width: 190px;
    margin: 0 auto;
}
