<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cart</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>




    <section class="container my-md-5">
      <div class="row carts">
        <div class="col-md-8 ">
          <h1 class="bg-primary-lighter h4 mb-0 py-4 text-center mx-n30">
            您的購物車
          </h1>
          <div class="cart-row d-flex flex-column flex-md-row py-3 ">
            <div class="d-flex align-items-center flex-grow-1 mr-md-3">
              <div class="my-4 mr-4 flex-grow-1 flex-md-grow-0">
                <div class="cart-image" style="background-image: url(/assets/images/草莓優格.avif)"></div>
              </div>
              <div class="d-flex justify-content-evenly  flex-column flex-md-row flex-md-grow-1">
                <div class=" mx-39 mr-md-4 text-left">
                  <span class="h5">焦糖馬卡龍</span><br>
                  <span>NT$ 450</span>
                </div>
                <div class="cart-control ml-md-auto mt-3 mt-md-0 ">
                  <div class="input-group carts-input-group border-1">
                    <div class="input-group-prepend align-middle">
                      <button type="button" class="btn btn-brand-light text-primary-light material-symbols-outlined text-base-size">remove</button>
                    </div>
                    <input type="text" class="form-control" value="2">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-brand-light text-primary-light material-symbols-outlined text-base-size">add</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="price ml-md-auto align-items-center py-3 justify-content-end d-flex flex-md-row-reverse">
              <a href="#" class="btn d-none d-md-block"><span class="material-symbols-outlined align-middle">delete_outline</span></a>
              <span class="h5 mb-0 mr-md-3">NT$ 900</span>
            </div>
          </div>

          
          <div class="cart-row d-flex flex-column flex-md-row py-3 ">
            <div class="d-flex align-items-center flex-grow-1 mr-md-3">
              <div class="my-4 mr-4 flex-grow-1 flex-md-grow-0">
                <div class="cart-image" style="background-image: url(/assets/images/草莓蛋糕.avif)"></div>
              </div>
              <div class="d-flex justify-content-evenly  flex-column flex-md-row flex-md-grow-1">
                <div class=" mx-39 mr-md-4 text-left">
                  <span class="h5">焦糖馬卡龍</span><br>
                  <span>NT$ 450</span>
                </div>
                <div class="cart-control ml-md-auto mt-3 mt-md-0 ">
                  <div class="input-group carts-input-group border-1">
                    <div class="input-group-prepend align-middle">
                      <button type="button" class="btn btn-brand-light text-primary-light material-symbols-outlined text-base-size">remove</button>
                    </div>
                    <input type="text" class="form-control" value="2">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-brand-light text-primary-light material-symbols-outlined text-base-size">add</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="price ml-md-auto align-items-center py-3 justify-content-end d-flex flex-md-row-reverse">
              <a href="#" class="btn d-none d-md-block"><span class="material-symbols-outlined align-middle">delete_outline</span></a>
              <span class="h5 mb-0 mr-md-3">NT$ 900</span>
            </div>
          </div>


            <div class="cart-row d-flex flex-column flex-md-row py-3 ">
            <div class="d-flex align-items-center flex-grow-1 mr-md-3">
              <div class="my-4 mr-4 flex-grow-1 flex-md-grow-0">
                <div class="cart-image" style="background-image: url(/assets/images/藍莓派.avif)"></div>
              </div>
              <div class="d-flex justify-content-evenly  flex-column flex-md-row flex-md-grow-1">
                <div class=" mx-39 mr-md-4 text-left">
                  <span class="h5">焦糖馬卡龍</span><br>
                  <span>NT$ 450</span>
                </div>
                <div class="cart-control ml-md-auto mt-3 mt-md-0 ">
                  <div class="input-group carts-input-group border-1">
                    <div class="input-group-prepend align-middle">
                      <button type="button" class="btn btn-brand-light text-primary-light material-symbols-outlined text-base-size">remove</button>
                    </div>
                    <input type="text" class="form-control" value="2">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-brand-light text-primary-light material-symbols-outlined text-base-size">add</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="price ml-md-auto align-items-center py-3 justify-content-end d-flex flex-md-row-reverse">
              <a href="#" class="btn d-none d-md-block"><span class="material-symbols-outlined align-middle">delete_outline</span></a>
              <span class="h5 mb-0 mr-md-3">NT$ 900</span>
            </div>
          </div>
    
        </div>
        <div class="col-md-4">
          <div class="p-md-3 py-3 pt-0 cart-msg-box mx-n30">
            <h2 class="text-center cart-msg-title h4 py-3">訂單摘要</h2>
            <hr class="border-white mt-0">
            <div class="d-flex justify-content-between mb-2">
              <span>小計</span>
              <span>NT$ 2,700</span>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>運費</span>
              <span>NT$ 300</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="h5">總計</span>
              <span class="h5">NT$ 3000</span>
            </div>
          </div>
          <div class="negative-row-margin mx-md-0 mx-n30">
            <a href="deliver.html" class="d-grid gap-2 col-12 mx-auto border-0 pay py-3 ">結帳</a>
          </div>
          
        </div>
      </div>
    </section>







    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>