<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>product</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    
    <div class="container px-0 px-md-3">
      <header class="header">
        <div class="header-main-image bg-cover-2">
          <img src="/assets/images/lg-想吃甜點是不需要理由的.svg" width="89" class="header-image-context" alt="">
        </div>
        </header>
    </div>



    <section class="container my-6 mb-md-60">
      <div class="row">
        <div class="col-md-4 mb-5">
          <h2 class="mb-0 py-3 text-center bg-primary text-white h4">甜點類別</h2>
          <div class="list-group text-center">
            <a href="#" class="list-group-item list-group-item-action h4 active">所有甜點（48）</a>
            <a href="#" class="list-group-item list-group-item-action h4">本日精選（10）</a>
            <a href="#" class="list-group-item list-group-item-action h4">人氣推薦（26）</a>
            <a href="#" class="list-group-item list-group-item-action h4">新品上市（12）</a>
          </div>
        </div>
      
        
      <div class="col-md-8">
        <div class="row">

          <div class="col-md-6 mb-20">
            <div class="item-card">
              <div class="item-image4" >
                <div class="item-tag">本日精選</div>
                  <div class="item-fav-icon">
                    <span class="material-symbols-outlined">favorite</span>
                  </div>  
                </div>
              </div>
              <div class="item-body d-flex text-center">
                <div class="item-name col">焦糖馬卡龍</div>
                <strong class="item-price col">NT$ 450</strong>
              </div>
              <div class="add-cta">
              <a href="#" class="add-cta btn-lg  btn btn-block">加入購物車</a>
              </div>
            </div>

          <div class="col-md-6 mb-20">
            <div class="item-card">
              <div class="item-image1" >
                <div class="item-tag">本日精選</div>
                  <div class="item-fav-icon">
                    <span class="material-symbols-outlined">favorite</span>
                  </div>  
                </div>
              </div>
              <div class="item-body d-flex text-center">
                <div class="item-name col">焦糖馬卡龍</div>
                <strong class="item-price col">NT$ 450</strong>
              </div>
              <div class="add-cta">
                <a href="#" class="add-cta btn-lg  btn btn-block">加入購物車</a>
                </div>
          </div>

          <div class="col-md-6 mb-20">
            <div class="item-card">
              <div class="item-image5" >
                <div class="item-tag">本日精選</div>
                  <div class="item-fav-icon">
                    <span class="material-symbols-outlined">favorite</span>
                  </div>  
                </div>
              </div>
              <div class="item-body d-flex text-center">
                <div class="item-name col">焦糖馬卡龍</div>
                <strong class="item-price col">NT$ 450</strong>
              </div>
              <div class="add-cta">
                <a href="#" class="add-cta btn-lg  btn btn-block">加入購物車</a>
                </div>
          </div>
          <div class="col-md-6 mb-20">
            <div class="item-card">
              <div class="item-image6" >
                <div class="item-tag">本日精選</div>
                  <div class="item-fav-icon">
                    <span class="material-symbols-outlined">favorite</span>
                  </div>  
                </div>
              </div>
              <div class="item-body d-flex text-center">
                <div class="item-name col">焦糖馬卡龍</div>
                <strong class="item-price col">NT$ 450</strong>
              </div>
              <div class="add-cta">
                <a href="#" class="add-cta btn-lg  btn btn-block">加入購物車</a>
                </div>
          </div>

          <div class="col-md-6 mb-20 d-none d-md-block">
            <div class="item-card">
              <div class="item-image2" >
                <div class="item-tag">本日精選</div>
                  <div class="item-fav-icon">
                    <span class="material-symbols-outlined">favorite</span>
                  </div>  
                </div>
              </div>
              <div class="item-body d-flex text-center">
                <div class="item-name col">焦糖馬卡龍</div>
                <strong class="item-price col">NT$ 450</strong>
              </div>
              <div class="add-cta">
                <a href="#" class="add-cta btn-lg  btn btn-block">加入購物車</a>
                </div>
          </div>
          <div class="col-md-6 mb-20 d-none d-md-block">
            <div class="item-card">
              <div class="item-image7" >
                <div class="item-tag">本日精選</div>
                  <div class="item-fav-icon">
                    <span class="material-symbols-outlined">favorite</span>
                  </div>  
                </div>
              </div>
              <div class="item-body d-flex text-center">
                <div class="item-name col">焦糖馬卡龍</div>
                <strong class="item-price col">NT$ 450</strong>
              </div>
              <div class="add-cta">
                <a href="#" class="add-cta btn-lg  btn btn-block">加入購物車</a>
                </div>
          </div>

    <div class="mt-5  " aria-label="Page navigation">
      <ul class="pagination  pagination-lg">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span class="material-symbols-outlined align-middle">
              arrow_left
              </span>
          </a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span class="material-symbols-outlined align-middle">
              arrow_right
              </span>
          </a>
        </li>
      </ul>
    </div>


  </div>
</div>  
</div>
</section>




  </div>  
</div>
</section>










    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
