<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>receipt</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    



    <section class="container my-md-5 ">
      <div class="row g-3">
        <div class="col-lg-8">
          <div class="negative-row-margin mx-lg-0">
            <div class="p-5 bg-primary text-primary-lighter">
              <div class="row mb-5">
                <div class="col-6">
                  <h1 class="text-primary-lighter">發票</h1>
                </div>
                <div class="col-6 d-flex align-items-center">
                  <div class="process-steps w-100">
                    <div class="step-circle material-symbols-outlined completed">check</div>
                    <div class="step-circle material-symbols-outlined completed">check</div>
                    <div class="step-circle material-symbols-outlined-circle active"></div>
                  </div>
                </div>
              </div>
              
              <nav class="nav nav-pills nav-fill nav-dark mb-5">
                <a class="nav-item nav-link py-3 h4 active" href="receipt.html">電子發票</a>
                <a class="nav-item nav-link py-3 h4" href="receipt post.html">郵寄發票</a>
              </nav>

              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label class="h4" for="firstname">電子郵件信箱</label>
                    <input type="text" class="form-control lastname" id="firstname" placeholder="example@email.com">
                  </div>
                </div>
                <div class="col-12">
                  <div class="mb-3">
                    <label class="h4" for="firstname">統一編號（選填）</label>
                    <input type="text" class="form-control lastname" id="firstname" placeholder="12345678">
                  </div>
                </div>
              </div>






        </div>
        </div>
        

          <div class="d-grid negative-row-margin mx-lg-0">
            <a href="success.html" class="btn btn-accent py-3 text-primary">確認結帳</a>
          </div>
        </div>



        <div class="col-lg-4 d-none d-lg-block">
          <div class="card border-primary-lighter mb-3">
            <h4 class="card-header text-primary-light text-center bg-primary-lighter border-primary-lighter py-4">訂單摘要</h4>
            <div class="card-body text-primary-light">
              <div class="d-flex justify-content-between mb-2">
                <span>小計</span>
                <span>NT$ 2,700</span>
              </div>
              <div class="d-flex justify-content-between mb-3 ">
                <span>運費</span>
                <span>NT$ 300</span>
              </div>
              <div class="d-flex justify-content-between">
                <span  class="heavy600">總計</span>
                <span  class="heavy600">NT$ 3000</span>
              </div>
            </div>
          </div>
          <div class="card border-primary-lighter">
            <h4 class="card-header text-primary-light text-center bg-primary-lighter border-primary-lighter py-4">購物清單</h4>
            <div class="card-body carts">

              <div class="d-flex mb-3">
                <div class="cart-image cart-image-sm mr-3" style="background-image: url(/images/草莓優格.avif)"></div>
                <div class="d-flex flex-fill  align-items-center justify-content-evenly">
                  <div class=" text-primary-light">
                    <span>焦糖馬卡龍 (2)</span><br>
                    <span class="heavy600">NT$ 900</span>
                  </div>
                </div>
              </div>
              <div class="d-flex mb-3">
                <div class="cart-image cart-image-sm mr-3" style="background-image: url(/images/草莓蛋糕.avif)"></div>
                <div class="d-flex flex-fill  align-items-center justify-content-evenly">
                  <div class=" text-primary-light">
                    <span>焦糖馬卡龍 (2)</span><br>
                    <span class="heavy600">NT$ 900</span>
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <div class="cart-image cart-image-sm mr-3" style="background-image: url(/images/藍莓派.avif)"></div>
                <div class="d-flex flex-fill  align-items-center justify-content-evenly">
                  <div class=" text-primary-light">
                    <span>焦糖馬卡龍 (2)</span><br>
                    <span class="heavy600">NT$ 900</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>





    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>