<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>success</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    


    <div class="container mb-md-60">
      <header class="header">
        <div class="header-main-image bg-cover row justify-content-center align-items-center" style="background-image: url(https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2c5a2cf31c693f5c15fb08135bf1adf2&auto=format&fit=crop&w=1347&q=80)">
          <div class="col-md-4">
            <div class="process-steps w-190 mb-3">
              <div class="step-circle material-symbols-outlined completed-s">check</div>
              <div class="step-circle material-symbols-outlined completed-s">check</div>
              <div class="step-circle material-symbols-outlined completed-s">check</div>
            </div>
    
            <h1 class="text-hide text-center mb-5">
              <img src="/assets/images/lg-付款成功.svg" width="190" alt="">
            </h1>
            <a href="product.html" class="btn btn-accent btn-block btn-lg py-3 text-primary d-none d-md-block next">
              繼續逛逛
            </a>
    
          </div>
        </div>
      </header>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>